<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- LOG4NET UTILITY INFORMATION  
      Log4net provides a simple mechanism for logging information to a variety of 
      sources. Information is logged via one or more loggers. These loggers provide 5 
      levels of logging:
      1.Debug 2.Information 3.Warnings 4.Error 5.Fatal   
      The following are Appenders and Layouts specified for XML Configurator from Log4Net utility.
      -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <log4net>
    <!-- ROLLING LOG FILE APPENDER
    RollingLogFileAppender for logging information into specified file at specified path -->
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logging\logfile.log"/>
      <!--<file value="E:\365MTLog\logMEfile.log"/>-->
      <appendToFile value="true"/>
      <rollingStyle value="size"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="5MB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p %c %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="WARN"/>
      <level value="FATAL"/>
      <level value="ERROR"/>
      <level value="ALL"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </root>
    <logger name="InventoryErrorLogger">
      <level value="ERROR"/>
      <level value="INFO"/>
      <level value="DEBUG"/>
      <level value="WARN"/>
      <level value="FATAL"/>
      <level value="ALL"/>
    </logger>
  </log4net>
  <system.web>
    <authentication mode="Windows" />
    <!--<identity impersonate="true"/>-->
    <httpHandlers>
      <add verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Extensions.Design, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.DirectoryServices.AccountManagement, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <sessionState mode="InProc" timeout="20"></sessionState>
  </system.web>
  <appSettings>
    <add key="ExceptionPath" value="LoggingError\"/>
    <add key="PasswordMinLength" value="8"/>
    <add key="PasswordMaxLength" value="10"/>
    <add key="PasswordCaseSensitivity" value="true"/>
    <add key="PasswordIncludeNumerical" value="true"/>
    <add key="PasswordIncludeSpecialCharacters" value="true"/>
    <add key="PasswordIncludeSpecialCharacters" value="true"/>
    <add key="dateformat" value="dd/MM/yyyy"/>
  </appSettings>
  <connectionStrings>
    <add name="ConnectionString" connectionString="Initial Catalog=LogInControl;Data Source=192.168.4.6;uid =loginctrl;password=loginctrl123;"/>
  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="CaptchaImage" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
    </handlers>
    <validation validateIntegratedModeConfiguration="false"/>
  </system.webServer>
</configuration>